.presentBox{
    margin: auto;
    height: 500px;
    width: 230px;
    border: 1px solid black;
    position: relative;
    margin-bottom: 30px; 
    background: black;
    display: flex;
    flex-flow: column;
  }
  .movieShow{
    padding: 20px;
  }

  .moviePosterSpecs{
    height: 100%;
    width: 100%;
  }
  .presentBox button:hover{
    background: #962A38;
    color: #141414
  }
  /* first */
  .moviePoster{
    order: 1;
    flex:2.5;
    background: red;
  }
  /* second */
  .movieStars{
    order: 2;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center
  }
  /* third */
  .movieOverview{
    order: 3;
    flex: 2;

    position: relative;
  }
  .commentButton{
    position: absolute;
    top: 5px;
    left:50%;
    transform: translateX(-50%);
    letter-spacing: 1px;
    padding: 5px;
    border: 1px solid #962A38;
    background: transparent;
    color: #962A38;
  }
  .tagButton{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .tagName{
    position: absolute;
    color: #962A38;
    bottom: 0;
    left:5px;
  }