.statsBar{
    height: 10vh;
    background: #141414;  
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 480px){
    .statsBar{
       height: 20vh;
    }
  
  }
  