.main_container{
    display: flex;
    min-height: 100vh;
    flex-flow: column;
    background: #962A38;
}

/* first one */
.header{
  order: 1;
  height: 25vh;
  background: rgb(20, 20, 20);
  display: flex;
  flex-flow: column
}
.brands{
  order: 1;
  flex: 1;
}
.user_options{
  order: 2;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:10px
}

.dropdown_selection{
    background: #141414;
    display: flex;
    padding:10px;
  }
.dropdown_selection .form-group{
    margin: auto;
  }
.filtered{
    background: transparent;
    border: 1px solid #962A38;
    color: white;
    letter-spacing: 2px;
    width: 150px;
  }
  .dropdown-menu{
    background: #962A38;
  }
  .dropdown-menu li a:hover{
      background: #141414;
      color:#962A38
  }
  .movie_slides{
    margin: auto;
    box-sizing: border-box
  }

  /* second */
  .results{
    order: 2;
    flex:1;
    background: #962A38;
    padding: 5px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 30px;
    position: relative;
  }
.error_message{
  margin: auto;
}
.error_message > *{
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  display: block
}
.home_button{
  border: 1px solid #141414;
  padding: 20px;
  background: transparent;
  border-radius: 3px;
  margin-top: 30px;
  width: 200px;
}
.home_button:hover{
  border:0;
  background: #141414;
  color: #962A38
}
.pagination{
  order: 3;
  flex: 1;
  padding: 5px;
  margin-top: 5px;
  display: flex;
}
.pagination > div {
  margin: auto;
}
/* media */

@media only screen and (max-width: 992px){
    .navbar-brand img{
      height: 60px;
      width: 60px;
    }
    .header{
      height: 30vh;
    }
  
  }
  
  
  @media only screen and (max-width: 480px)
  {
    .navbar-brand span{
      font-size: .8em;
    }
    .navbar-brand img{
      height: 50px;
      width: 50px;
    }
  
  }
  
  @media only screen and (max-width: 320px){
    .navbar-brand span{
      font-size: .8em;
    }
    .navbar-brand img{
      height: 40px;
      width: 40px;
    }
  
  }