.header_nav{
    display: flex;
    height: 20vh;
    background: #141414;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;   
}
.logo_img{
    width: 100%;
    order: 1;
    flex: 1;
    display: flex;
    justify-content: center
}
.header_title{
    order: 2;
    flex:1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    margin-top: 40px
}
.header_title span{
    font-size: 3em;
    letter-spacing: 1px;
}
/**********************************************************************/
/**********************************************************************/
/* media queries*/
/**********************************************************************/
/**********************************************************************/

@media only screen and (max-width: 1200px){
}
@media only screen and (max-width: 992px){
}
@media only screen and (max-width: 768px){
    .header_title span{
        font-size: 2em;
    }
}
@media only screen and (max-width: 480px){
    .header_title span{
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 320px){
    .header_title span{
        font-size: 1em;
    }
}



