
.searches{
    position:relative;
    margin-bottom: 20px;
    color: #818181;
  }
.searches button{
    background: transparent;
    border: 1px solid #962A38;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 2px;
  }
.searches button:hover{
    background: #962A38;
    color:black;
    border: 0;
  }
.search_header{
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
.sidenavbar {
    height: 100%;
    width: 270px;
    position: fixed;
    margin-left: -270px;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .5s;
    text-align: center;
}
.searches .genres ul.dropdown-menu{
  background: #962A38;
  color: #141414;
  cursor: pointer;
  margin-left: 55px;
  margin-top:35px
}
ul.dropdown-menu li a:hover{
  background-color: #141414;
  color: #962A38;   
}
.move{
  margin-left: 0;
}
.sidenavbar h3 {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenavbar h3:hover , .sidenavbar i:hover{
    color: #962A38;
}
/* radio */
.search .radio_input{
  margin-left: 25px;
}
.search {
  margin-top: 100px;
}
.button_search{
  margin-top: 100px
}
.profile_text{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 3px;
}
.profileIcon{
  height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid #962A38;
  margin-bottom: 10px;
}
.profileIcon p{
  margin-top:5px;
}
.profileIcon img{
  width: 100px;
}
