.profileStats{
    height: 15vh;
    display: flex;
    color: #FFFFFF
}
.movieNum{
    order: 1;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.numbers{
    font-size: 4em;
}
.movieFavouriteGenre{
    order: 2;
    flex:1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center
}
.movieRuntime{
    order: 3;
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center
}