.loader{
    position: absolute;
    margin: auto;
    z-index: 1000;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%)
}
.show{
    display: block;
  }
.hide{
    display: none;
  }
  